.m-input-icon{margin: 2px 0 0 -20px;}
.m-nav-item{ margin: 0 5px 0 0;cursor: pointer;}
.m-nav-item.active{color: red;}
.m-nav-item.router-link-active{color: red;}
.m-post-btn-wrap{position: relative;height: 30px;}
.m-post-btn{position: absolute;top: 0;right: 10px;}
.m-message-list-item{padding: 10px 0 10px 0; border-bottom: 1px solid #dddddd;}
.m-message-username{font-weight: bold;color: #0181e9;}
.m-message-time{font-size: 14px;color: #999999;}
.m-comment-wrap{background: #dddddd;}


