body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.m-nav-item{margin: 0 5px;cursor: pointer;}
.m-nav-item.active{color: red;}
.m-nav-item.router-link-active{color: red;}
.m-list-item{display: flex;margin: 5px;}
.m-list-item-img-wrap{display: flex; width: 112px;height: 150px;background: #dddddd;}
.m-list-item-img-wrap::before{content: '';margin: auto;width: 38px;height: 38px;background-image: url(./images/loading.png);animation: loading 0.5s linear infinite;}
.m-list-item-img{position: absolute; width: 112px;height: 150px;}
.m-list-item-info{flex:1}

.m-loading-wrap{position: fixed;display: none; top: 0;left: 0;right: 0;bottom: 0; background: rgba(0, 0, 0, 0.5);z-index: 999;}
.m-loading-wrap.active{display: flex;}
.m-loading-img{ display: inline-block;margin: auto; width: 38px;height: 38px;background-image: url(./images/loading.png);background-size: 100% 100%; animation: loading 0.5s linear infinite; }
.m-news-wrap{position: absolute;top: 30px;left: 0;right: 0;bottom: 0;padding: 5px; overflow-y: auto;overflow-x:hidden;}
.m-news-list-item{display: inline-block;position: absolute; width: 50%;padding:5px;box-sizing: border-box; vertical-align:top;}
.m-news-inner{border: 1px solid #dddddd;border-radius: 5px;}
.m-news-img{width: 100%;}
.m-news-title{font-size: 18px;}

.m-up-btn{position: fixed;bottom: 30px;right: 30px;}
.m-end{position: fixed;width: 100%; bottom: 0; line-height: 40px;text-align: center;color: #dddddd;}


@keyframes loading {
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}